{% load static %}
<!-- Spacer Om onder navbar uit te komen -->
<div class="row " style="height: 77px">
</div>

<!-- Zichtbaar vanaf groot-->
<section id="sp-top-bar" class="d-none d-xl-block">
    <div class="container">
        <div class="row">
            <div id="sp-logo" class="col-3">
                <a href="/">
                    <img src="{% static 'img/LightPlaceLogo-0111.png' %}" alt="LIGHT PLACE">
                </a>
            </div>
            <div id="sp-top2" class="col-6 " style="text-align: center;">
                <h2 class="text-dark">
                    <a href="http://www.light-place.nl" class="text-dark">
                        L I G H T   P L A C E
                    </a>
                </h2>
                <a href="http://www.light-place.nl" style="color: rgb(109, 113, 119); font-size: 7pt;">
                    BASED&nbsp;IN&nbsp;NORTH&nbsp;BRABANT,&nbsp;OSSx
                </a>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</section>


<!-- Zichtbaar alleen groot en middelgroot scherm-->
<section id="sp-top-bar" class="d-none d-lg-block d-md-block d-xl-none">
    <div class="container">
        <div class="row">
            <div id="sp-logo" class="col-3">
                <a href="/">
                    <img src="{% static 'img/LightPlaceLogo-0111.png' %}" alt="LIGHT PLACE">
                </a>
            </div>
            <div id="sp-top2" class="col-6">
                <h2 class="text-dark" style="text-align: center;">
                    <a href="http://www.light-place.nl" class="text-dark">
                        LIGHT PLACE<br>
                    </a>
                    <span style="color: #999999; font-size: 6pt;">
                        <a href="http://www.light-place.nl" style="color: #999999;">BASED&nbsp; IN&nbsp; NORTH&nbsp;
                            BRABANT,&nbsp; OSS
                        </a>
                    </span>
                </h2>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</section>

<!-- Zichtbaar alleen klein scherm-->
<section id="sp-top-bar" class="d-none d-sm-block d-md-none">
    <div class="container">
        <div class="row">
            <div id="sp-logo" class="col-3">
                <a href="/">
                    <img src="{% static 'img/LightPlaceLogo-0111.png' %}" alt="LIGHT PLACE">
                </a>
            </div>
            <div id="sp-top2" class="col-6">
                <h2 class="text-dark" style="text-align: center;">
                    <a href="http://www.light-place.nl" class="text-dark">
                        E-CART</br>DEPOT
                    </a>
                </h2>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</section>

<!-- Zichtbaar alleen extra klein -->
<section class="d-block d-sm-none">
    <div class="container ">
        <div class="row">
            <div id="sp-logo" class="col-6">
                <a href="/">
                    <img src="{% static 'img/LightPlaceLogo-0111.png' %}" alt="LIGHT PLACE">
                </a>
            </div>
                <div id="sp-logo" class="col-6">
                <h2 style="text-align: center;">
                    <a href="http://www.light-place.nl" class="text-dark">
                        E-CARD</br>DEPOT
                    </a>
                </h2>
            </div>
        </div>
    </div>
</section>