{% extends 'base.html' %}

{% load static %}
{% load avatar_tags %}
{% load ps_chat_tags %}

{% block content %}
<div id="theWrapper" class="theWrapper">
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<p>Kies een contact om te chatten</p>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				{% for contact in allContacts %}
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						{% if contact.profile.prf_ProfileImg %}
						    <img src="{{ contact.profile.prf_ProfileImg.url }}" alt="" />
						{% else %}
						    {% avatar contact 36 %}
						{% endif %}

						<div class="meta">
							<p class="name">{{ contact.username }}</p>
							<p class="preview">Bla bla bla</p>
							<a href="{% url 'chat:create_dialog_chat' contact.id %}">
								Choose
							</a>
						</div>
					</div>
				</li>
				{% endfor %}
				<li class="contact active">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="{% static 'img/NoBody.jpg' %}" alt="" />
						<div class="meta">
							<p class="name">Geen contact geselecteerd</p>
							<p class="preview"></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="bottom-bar">
			<!--
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
			-->
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="{% static 'img/NoBody.jpg' %}" alt="" />
			<p>Nog geen nieuwe contact geselecteerd</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id="chat-log" >

			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="chat-message-input" type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>

			<button id="chat-message-submit" class="submit">
				<i class="fa fa-paper-plane" aria-hidden="true">

				</i>
			</button>
			</div>
		</div>





	</div>
</div>
	</div>

{% endblock content %}
