{% load cart_template_tags %}
{% load i18n admin_urls %}
{% load avatar_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand 
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">by Professional Software</strong>
    </a>
    -->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/">
            Landing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link waves-effect dropdown-toggle" href="#"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Light-place kaarten
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'core:cardSession_Insert' %}">
              Kaart samenstellen
            </a>
            <a class="dropdown-item" href="/products">
              Afbeeldingen
            </a>
            <a class="dropdown-item" href="/sel-tekst">
              Teksten
            </a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-effect" href="{% url 'chat:room' 'empty' %}">
            Chatten
            <!--
            <span class="sr-only">(current)</span>
            -->
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-effect" href="/underconstruction">
            Blogs
            <!--
            <span class="sr-only">(current)</span>
            -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/contact/msg">
            Contact</a>
        </li>

        <!--
              <li class="nav-item">
          <a class="nav-link waves-effect" href="/categories">
            Categories</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
        </li>
        -->
      </ul>



      <!-- Right User stuff -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
          <a href="#" class="nav-link waves-effect">
              {{ user.username }}
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" title="Click to change avatar">
          <a href="{% url 'avatar_change' %}" class="nav-link">
            {% comment %}
            {% avatar user 36 %}
            {% endcomment %}
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'accounts:logout' %}" class="nav-link waves-effect">
            <span class="clearfix d-none d-sm-inline-block">
              Logout
            </span>
          </a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/admin">
            Admin Panel
          </a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'accounts:login' %}">
            <span class="clearfix d-none d-sm-inline-block">
              Login
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'accounts:signup' %}">
            <span class="clearfix d-none d-sm-inline-block"> Signup </span>
          </a>
        </li>
        {% endif %}
      </ul>






    </div>

  </div>
</nav>
